.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-size: 100%;
    /* background-image: url("../Components/images/felt.jpeg"); */
    background-image: url("../Components/images/felt4suits.webp");
    /* background-image: url("../Components/images/feltlowres.jpeg"); */
    /* background-image: url("../Components/images/feltsuitpattern.jpeg"); */
    /* background-image: url("../Components/images/table2.webp"); */
    /* background-image: url("../Components/images/table3.webp"); */
    background-color: seagreen;
    background-repeat: no-repeat;
    padding: 10px;
    text-align: center;
}

.instructions {
    text-align: right;
}

.playerform {
    text-align: left;
}

.snappool {
    height: 314px;
    display: grid;
    grid-template-columns: auto auto auto;
    ;
}

.ipopup {
    text-align: left;
    background: rgba(255, 255, 255, 0.6);
}

.cpopup {
    text-align: left;
    background: rgba(255, 255, 255, 0.6);
}

.p1hand{
    background-image: url("../Components/images/redcardback.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 314px;
    width: 226px;
    padding-top: 23%;
    text-shadow: 0 0 10px white;
}

.handcount{
    background: rgba(255, 255, 255, 0.75);
    width: 36%;
    margin-left: 32%;
}

.p2hand{
    background-image: url("../Components/images/bluecardback.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 23%;
    height: 314px;
    width: 226px;
}

.title{
    color: white;
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
}

@font-face {
    font-family: neon;
    src: url(neon_pixel-7.ttf)
}

.neon-text{
    padding: 3%;
    font-family: neon;
    font-size: 240px;
}

/* .flicker-slow{
    animation: flicker 3s linear infinite;
  }
  
  .flicker-fast{
    animation: flicker 1s linear infinite;
  }
  
  @keyframes flicker {
      0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
          //text-shadow: none;
      opacity: .99;
          
      }
      20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
          opacity: 0.4;
      }
  } */

.container button {
    background-color: #f09;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 5px;
    outline: 0;
    opacity: 0.6;
    transition: 250ms;
}

.container button:hover {
    /* background-color: rgb(47, 255, 0); */
    opacity: 1;
}  