.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-size: cover;
    /* background-image: url("../Components/images/felt.jpeg"); */
    background-image: url("../Components/images/felt4suits.webp");
    /* background-image: url("../Components/images/feltlowres.jpeg"); */
    /* background-image: url("../Components/images/feltsuitpattern.jpeg"); */
    /* background-image: url("../Components/images/table2.webp"); */
    /* background-image: url("../Components/images/table3.webp"); */
    /* background-color:rgb(1, 46, 1); */
    background-repeat: no-repeat;
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
}

.instructions {
    text-align: right;
}

.playerform {
    text-align: left;
}

.snappool {
    display: grid;
    grid-template-areas: 'header header header'
    'left middle right';
}

.ipopup {
    text-align: left;
}

.cpopup {
    text-align: left;
}

.p1hand{
    background-image: url("../Components/images/redcardback.png");
    background-size: contain;
        /* need to work on sizing of this compared to snap pool */
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 23%;
    text-shadow: 0 0 10px white;
}

.handcount{
    background: rgba(255, 255, 255, 0.75);
    width: 36%;
    margin-left: 32%;
}

.p2hand{
    background-image: url("../Components/images/bluecardback.png");
    background-size: contain;
    /* need to work on sizing of this compared to snap pool */
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 23%;
}

.title{
    color: white;
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
}

@font-face {
    font-family: neon;
    src: url(neon_pixel-7.ttf)
}

.neon-text{
    padding: 3%;
    font-family: neon;
    font-size: 240px;
}

.footer{
    font-family: neon;
    src: url(neon_pixel-7.ttf);
    font-size: 20px;
    margin-top: 0;
    margin: 0;
    height: 50px;
    padding: 1rem;
    padding-top: 0;
    padding-left: 0;
    background-color:black;
    position: bottom;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 50px #f09,
      0 0 50px #f09,
      0 0 50px #f09,
      0 0 50px #f09;
  }