.count {
    grid-area: header;
}

.left {
    grid-area: left;
}

.middle {
    grid-area: middle;
}

.right {
    grid-area: right;
}

.snappool {
    display: grid;
    grid-template-areas: 'header header',
    'left right';
}
