.card1 {
    grid-column-start: 1;
    position: relative;
    z-index: 3;
    height: 314px;
    width: 226px;
    
}

.card2 {
    grid-column-start: 2;
    top: 0.3;
    left: 0.3;
    position: relative;
    z-index: 2;
    transform: rotate(30deg);
    height: 314px;
    width: 226px;
}

.card3 {
    grid-column-start: 3;
    left: 0.3;
    position: fixed;
    z-index: 1;
    transform: rotate(45deg); 
    height: 314px;
    width: 226px;
}
